/* 
 * LE.html用スタイル
 * 言語工学 授業ページ 2013 前期
 * media = screen
 */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


body{
    color: #333333;
    background-color: #FCFCFC;
    padding: 0;
    font-family: 'Open Sans', 'Noto Sans Japanese';
    font-weight: 300;

}
body#subbody{
    margin-left: 0;
}

.header {
    color: #333333;
    margin-top: 0px;
    padding: 1px 20px 13px 20px;
}

.main {
    float: left;
    display: inline;
}

.contents {
    float: right;
    padding: 0px 10px 0px 10px;
    width: 650px;
}

.menu {
    float: left;
    display: inline;
    padding: 0px 10px 0px 20px;
}

.sub {
    font-size: 90%;
}

h1, h2, h3, h4 {
    color: #666666;
}

hr {
    height:0;
    border:0;
    border-top:1px solid #ccc;
    border-bottom:1px solid #fff;
    width:95%;
    clear:both;
}

li {
    margin-bottom: 5px;
}

ol{
    padding-left: 20px;
}
a {
    color: #0066CC;
    text-decoration: none;
}
a:visited {
    color: #6633CC;
    text-decoration: none;
}

.caution{
    color: #0066CC;
}

.width600 {
    width: 600px;
}
.width550 {
    width: 600px;
}

pre.command {
    width: 550px;
    padding: 10px;
    margin-top: 0px;
    overflow: scroll;
    scrollbar-base-color: #FFFFFF;
    font-size: large;
    font-weight: normal;
    color: #FFFFFF;
    background: #111111;
}

pre.code {
    width: 550px;
    padding: 10px;
    margin-top: 0px;
    overflow: scroll;
    font-size: large;
    font-weight: normal;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;
}

table {
    border: 1px solic #666666;
    border-collapse: collapse;
    empty-cells: show;
    margin: 5px 5px 0px 0px;
}

table th {
    border: 1px solid #666666;
    padding: 3px 6px;
    background-color: #BCDAF7;
}

table td {
    padding: 3px 6px;
}

footer {
    font-size: smaller;
    text-align: left;
    margin-bottom: 10px;
    clear:both;
}